<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur tempore atque eos, molestiae aperiam exercitationem. Suscipit sint perferendis beatae aperiam nostrum minima nesciunt, minus sit debitis adipisci quod possimus. Recusandae.</p>
    <ol>
        <li>item one</li>
    </ol>
</body>
</html>